.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
phpcs.xml export-ignore
phpunit.xml.dist export-ignore
composer.json export-ignore
composer.lock export-ignore
docker-compose.yml export-ignore
Dockerfile export-ignore
Makefile export-ignore
docker/ export-ignore
tests/ export-ignore
.github/ export-ignore
README.md export-ignore
CHANGELOG.md export-ignore
CONTRIBUTING.md export-ignore
icon-256x256.png export-ignore
